# ==========================================
# 1. IDEs & Éditeurs (IntelliJ, VS Code, Eclipse)
# ==========================================
.idea/
*.iml
*.iws
*.ipr
out/
/shelf/
/workspace.xml
.vscode/
*.code-workspace
.classpath
.project
.settings/

# ==========================================
# 2. Back-end : Java / Spring Boot / Maven
# ==========================================
**/target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# ==========================================
# 3. Front-end : Node.js / React / Vite
# ==========================================
**/node_modules/
**/build/
**/dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ==========================================
# 4. Fichiers du système d'exploitation
# ==========================================
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# ==========================================
# 5. Fichiers temporaires & Base de données locale
# ==========================================
*.tmp
*.bak
*.swp
/dataSources/
/dataSources.local.xml
/queries/
/httpRequests/